/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2; /* offwhite */
	/* default font */
	font-family: 'Comic Neue', cursive;
}

/* target the html element called body */
/* start body */
body {
	/*background-color: skyblue;*/
	/*background-image: url('https://media.giphy.com/media/3o6Mbccwi6LDwjGuuA/giphy.gif');*/
	background-image: linear-gradient(rgba(17,126,112,0.75),rgba(0,88,255,0.45)), url('../images/background3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	/* viewport height - height of the screen...automatically centers the images */
	height: 100vh;
	width: 500px
	margin: 0 auto; /* this center the element horizontally */
	
}
/* end body */
.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

/* start h1 */
h1 {
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #333; /* off black */
	font-family: 'Josefin Sans', sans-serif;
}

/* start h2 */
h2 {
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	border-radius: 10px;

	/* padding (adds space inside the element) vs margin (adds space outside the element) */
	/* 10px */
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
}
/* end h2 */

/* target the element the class bio */
.bio {
	font-size: 18px;
	background-color: rgba(51,51,51,0.5);
/* multiplied to the current line height */
	line-height: 1.75;
	/*background-color: rgb(62,62,62)*/
	/* if opacity all inside will be affected */
	/*opacity: 50%;*/
}

/* end bio */

/* target the element with the ID me */
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: red;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 50px;
}
/* end of ID me */